[Unit]
Description=VM setup with Image
After=network.target

[Service]
EnvironmentFile=/opt/webappUnzipped/Dipti_Shevalekar_002245703_01/.env
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webappUnzipped/Dipti_Shevalekar_002245703_01
ExecStartPre=/bin/bash -c "while [ ! -f /opt/tmp.txt ]; do sleep 1; done"
ExecStart=node server.js
Restart=on-failure
RestartSec=3
StandardOutput=append:/var/log/webapp_output.log
StandardError=append:/var/log/webapp_error.log
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target
