[Unit]
Description=VM setup with Image
ConditionPathExists=/opt/application.properties
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/tmp/webappUnzipped/Dipti_Shevalekar_002245703_01
ExecStart=node /tmp/webappUnzipped/Dipti_Shevalekar_002245703_01/server.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target